header, main {
    border: solid black thin;
    width: 750px;
    padding: 15px;
    margin: 15px;
}

a, h1, h2 {
    border: solid black thin;
    padding: 5px;
}

img {
    width: 200px;
    height: 200px;
}

.pull-right {
    float: right;
}

.pull-center {
    text-align: center;
}