body {
	background-color: gray;
	font-family: 'Arial'
}

header, main {
	border: solid black thin;
	width: 750px;
	padding: 15px;
	margin: 15px;
	background-color: lightgray;
}

a, h1, h2 {
	border: solid black thin;
	padding: 5px;
	background-color: white;
}

.profile-picture {
	width: 200px;
	height: 200px;
}

.logo {
	width: 50px;
	height: 50px;
}

.pull-right {
	float: right;
}

.pull-center {
	text-align: center;
}

.vertical-center {
	line-height: 50px;
}